@charset "UTF-8";

// размеры
$base-container-width: 1280px;
$base-wrapper-width: 1200px;
$base-section-height: 720px;

// шрифт
$base-font-family: 'BravoSC', sans-serif;
$base-font-size: 14px;
$base-line-height: 1.2;

// цвета
$base-color: #000;

// фон
$base-background: #e8e8eb;