@charset "UTF-8";

html, body {
	@include font($base-font-family, 400);
	font-size: $base-font-size;
	color: $base-color;
	line-height: $base-line-height;
	height: 100%;
}

html, * {
	@include box-sizing('border');
}

body {
	overflow: hidden;
}


.p-block {
	padding: 15px 8px 13px;
	border-bottom: 1px solid rgb(200,200,200);
	background-color: $base-background;
    margin-bottom: 1px;
    @include box-shadow(0 1px 1px rgba(255,255,255,.5));

    &.b-last {
    	border-bottom: 0;
    	margin-bottom: 0;
    	@include box-shadow(none);
    }

    &--days {
    	padding: 10px;
    }
}
.b-block__title {
	padding-left: 15px;
	padding-top: 3px;
	color: #3d3d3c;
	label {
		text-transform: uppercase;
		font-size: 16px;
		font-weight: 600;
	    margin: 0;
	}
	&--days {
		padding-left: 9px;
		label {
			text-transform: none;
			font-size: 22px;
			font-weight: 400;
		}
	}
	.p-left & {
		
	}
}
.p-block__r-btns {
	display: inline-block;
	float: right;

	.btn {
		padding: 2px 9px;
	}
}
	.p-left .p-block__r-btns .btn-success {
		border-color: #4f7b2c;
		@include linear-gradient(top, #609737, #4f7b2c);
	}


.b-cntnt {
	.form-control {
		padding: 2px 10px;
		height: 28px;
	}
	.input-group-addon {
		padding: 5px 12px;
	}
}


.modal-ok {
	.modal-content {
		border: 0px solid #689d41;
		background: none;
    	box-shadow: none;
	}
	.modal-header {
		background-color: #689d41;
	}
}
.modal-backdrop {
	background-color: rgba(0, 0, 0, 0.2);
}