@charset "UTF-8";

html, body {
	@include font($base-font-family, 400);
	font-size: $base-font-size;
	color: $base-color;
	line-height: $base-line-height;
	height: 100%;
}

html, * {
	@include box-sizing('border');
}

body {
	overflow: hidden;
}


.p-block {
	padding: 15px 8px 13px;
	border-bottom: 1px solid rgb(200,200,200);
	background-color: $base-background;
    margin-bottom: 1px;
    @include box-shadow(0 1px 1px rgba(255,255,255,.5));

    &.b-last {
    	border-bottom: 0;
    	margin-bottom: 0;
    	@include box-shadow(none);
    }

    &--days {
    	padding: 10px;
    }
}
.b-block__title {
	padding-left: 15px;
	padding-top: 3px;
	color: #3d3d3c;
	label {
		text-transform: uppercase;
		font-size: 16px;
		font-weight: 600;
	    margin: 0;
	}
	&--days {
		padding-left: 9px;
		label {
			text-transform: none;
			font-size: 22px;
			font-weight: 400;
		}
	}
	.p-left & {
		
	}
}
.p-block__r-btns {
	display: inline-block;
	float: right;

	.btn {
		padding: 2px 9px;
	}
}
	.p-left .p-block__r-btns .btn-success {
		border-color: #4f7b2c;
		@include linear-gradient(top, #609737, #4f7b2c);
	}


.b-cntnt {
	.form-control {
		padding: 2px 10px;
		height: 28px;
	}
	.input-group-addon {
		padding: 5px 12px;
	}
}

.calendar-cont .btn.btn-default[role="heading"],
.calendar-cont .btn.btn-default.btn-dpicker {
	display: inline-block;

	padding: 4px 12px;
	margin-bottom: 0;

	margin-left: .3em;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;

	background-color: #e6e6e6;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	border: 1px solid #cccccc;

	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-bottom-color: #b3b3b3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

	zoom: 1;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);

	outline: none;

	&:hover, &:focus {
		color: #333333;
	    text-decoration: none;
	    background-position: 0 -15px;
	    -webkit-transition: background-position 0.1s linear;
	    -moz-transition: background-position 0.1s linear;
	    -o-transition: background-position 0.1s linear;
	    transition: background-position 0.1s linear;
	}

	&.active, &:active {
	    background-image: none;
	    outline: 0;
	    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	}
}

.calendar-cont .btn.btn-success.btn-dpicker {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #5bb75b;
    background-image: -moz-linear-gradient(top, #62c462, #51a351);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
    background-image: -webkit-linear-gradient(top, #62c462, #51a351);
    background-image: -o-linear-gradient(top, #62c462, #51a351);
    background-image: linear-gradient(to bottom, #62c462, #51a351);
    background-repeat: repeat-x;
    border-color: #51a351 #51a351 #387038;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    outline: none;

    &:hover, &:focus {
    	text-decoration: none;
	    background-position: 0 -15px;
	    -webkit-transition: background-position 0.1s linear;
	    -moz-transition: background-position 0.1s linear;
	    -o-transition: background-position 0.1s linear;
	    transition: background-position 0.1s linear;
	    color: #ffffff;
	    background-color: #51a351;
	}

	&:active, &.active {
		background-image: none;
	    outline: 0;
	    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	}
}


.modal-ok {
	.modal-content {
		border: 0px solid #689d41;
		background: none;
    	box-shadow: none;
	}
	.modal-header {
		background-color: #689d41;
	}
}
.modal-backdrop {
	background-color: rgba(0, 0, 0, 0.2);
}