@charset "UTF-8";

html, body {
	@include font($base-font-family, 400);
	font-size: $base-font-size;
	color: $base-color;
	line-height: $base-line-height;
	height: 100%;
}

html, * {
	@include box-sizing('border');
}

body {
	overflow: hidden;
}


.p-block {
	padding: 15px;
	border-bottom: 1px solid rgb(200,200,200);
	background-color: $base-background;
    margin-bottom: 1px;
    @include box-shadow(0 1px 1px rgba(255,255,255,.5));

    &.b-last {
    	border-bottom: 0;
    	margin-bottom: 0;
    	@include box-shadow(none);
    }
}
.b-block__title {
	padding-left: 15px;
	label {
		text-transform: uppercase;
		font-size: 16px;
		margin-top: 5px;
	}
}
.p-block__r-btns {
	display: inline-block;
	float: right;

	.btn {
		padding: 2px 9px;
	}
}
	.p-left .p-block__r-btns .btn-success {
		border-color: #4f7b2c;
		@include linear-gradient(top, #609737, #4f7b2c);
	}


.b-cntnt {
	.form-control {
		padding: 2px 10px;
		height: 28px;
	}
	.input-group-addon {
		padding: 5px 12px;
	}
}


.ps-container>.ps-scrollbar-y-rail,
.ps-container:hover>.ps-scrollbar-y-rail:hover {
	width: 15px;
	background-color: #f0f0f0!important;
	box-shadow: inset 2px 0px 7px #d0cece;
	border-right: 1px solid #b7b7b7;
	opacity: 1!important;
	border-radius: 0;
	// right: 0!important;
}
	.ps-container>.ps-scrollbar-y-rail>.ps-scrollbar-y,
	.ps-container:hover>.ps-scrollbar-y-rail:hover>.ps-scrollbar-y,
	.ps-container.ps-in-scrolling.ps-y>.ps-scrollbar-y-rail>.ps-scrollbar-y {
		width: 15px;
		background-color: #3b98ad;
		box-shadow: inset 1px 2px 4px rgba(200,200,200,.7), inset 0px 0px 4px rgba(200,200,200,.7);
		border: 1px solid #5ba6b6;
		opacity: 1!important;
	}
	.ps-container>.ps-scrollbar-y-rail>.ps-scrollbar-y:before {
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		margin-top: -5px;
		left: 2px;
		overflow: hidden;
		width: 10px;
		height: 10px;
		background-image: url(../img/icon-scroll.png);
	}

.ps-container>.ps-scrollbar-x-rail,
.ps-container:hover>.ps-scrollbar-x-rail:hover {
	height: 15px;
	background-color: #f0f0f0!important;
	box-shadow: inset 2px 0px 7px #d0cece;
	border-right: 1px solid #b7b7b7;
	opacity: 1!important;
	border-radius: 0;
	right: 0!important;
}
	.ps-container>.ps-scrollbar-x-rail>.ps-scrollbar-x,
	.ps-container:hover>.ps-scrollbar-x-rail:hover>.ps-scrollbar-x,
	.ps-container.ps-in-scrolling.ps-x>.ps-scrollbar-x-rail>.ps-scrollbar-x {
		height: 15px;
		background-color: #3b98ad;
		box-shadow: inset 1px 2px 4px rgba(200,200,200,.7), inset 0px 0px 4px rgba(200,200,200,.7);
		border: 1px solid #5ba6b6;
		opacity: 1!important;
	}
	.ps-container>.ps-scrollbar-x-rail>.ps-scrollbar-x:before {
		content: '';
		display: block;
		position: absolute;
		left: 50%;
		margin-left: -5px;
		top: 2px;
		overflow: hidden;
		width: 10px;
		height: 10px;
		background-image: url(../img/icon-scroll.png);
	}



.modal-ok {
	.modal-content {
		border: 0px solid #689d41;
		background: none;
    	box-shadow: none;
	}
	.modal-header {
		background-color: #689d41;
	}
}