@charset "UTF-8";

@font-face {
  font-family: 'HelveticaNeue-Bold';
  src: url('fonts/HelveticaNeue/HelveticaNeue-Bold.eot');
  src: url('fonts/HelveticaNeue/HelveticaNeue-Bold.woff2') format('woff2'),
       url('fonts/HelveticaNeue/HelveticaNeue-Bold.woff') format('woff'),
       url('fonts/HelveticaNeue/HelveticaNeue-Bold.ttf') format('truetype'),
       url('fonts/HelveticaNeue/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg'),
       url('fonts/HelveticaNeue/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}