@charset "UTF-8";

.p-center {
	padding: 0;
	z-index: 1;

	width: calc( 100% - 281px );
}

.b-schedule {
	height: calc( 100vh - 62px );
	background: #fff;

	&.emptyBlock {
		background: #efefef;
	}
}
.b-schedule__list {
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
}
.b-schedule__item {
	width: 150px;
	border-radius: 3px;
	text-align: center;
	display: inline-block;
	overflow: hidden;
	margin-right: 10px;
	vertical-align: top;

	&-date {
		color: #fff;
		background-color: #000;
		padding: 5px;
		text-transform: capitalize;
	}
	&-name {
		@extend .b-schedule__item-date;
		background-color: #949494;
		border-bottom: 1px solid #fff;
	}

	&-spec {
		@extend .b-schedule__item-date;
		background-color: #949494;
		border-bottom: 1px solid #949494;
		font-style: italic;
	}

	&-adrec {
		background-color: #8ec8d6;
		padding: 5px 3px 8px;
		border-bottom: 1px solid #8ec8d6;

	}

	&-adrec, &-spec, &-name {
		position: relative;
		&:before {
			content: '';
			position: relative;
			height: 100%;
			display: inline-block;
			left: 0;
			top: 0;
			vertical-align: middle;
		}

		label {
			display: inline-block;
			vertical-align: middle;
			width: 97%;
			font-weight: normal;
			margin: 0;
		}
	}

	&-graf {
		background-color: #a4c589;
		padding: 5px 3px 8px;
		border-bottom: 1px solid #a4c589;

		.container-time {
			display: block;
		}
		.container-collapsed {
			display: none;
			cursor: pointer;

			i {
				font-size: 9px;
				margin-top: 2px;
				vertical-align: top;
			}
		}

		&.collapsed {
			.container-time {
				display: none;
			}
			.container-collapsed {
				display: block;
			}
		}
	}

	&-cntnt {
		text-align: left;
	}
	&-step {
		padding: 0px 5px 0;
		background-color: #e8e8eb;
		border-bottom: 1px dashed #000;
		white-space: nowrap;

		&:hover {
			background-color: #d3e7f7;
		}

		label {
			font-weight: normal;
			margin-bottom: 3px;
		}

		span {
			display: inline-block;
			min-width: 110px;
			padding: 1px 3px 3px;
			background-color: #eba740;
			cursor: default;
		}

		&-notrec {
			padding: 3px 5px 0;
			background-color: #949494;
			border-bottom: 1px dashed #000;
			height: 40px;
		}
	}
	&-record-true {
		border: 1px solid #000;
		&:hover {
			background-color: #e8e8eb;
		}
	}
	&-record-true &-cntnt-record {
		font-weight: 600;
	}
}

.b-schedule__empty-list {
	height: 100%;
	display: table;
	width: 100%;
	background: #efefef;
}
	.b-schedule__empty-list div {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		color: #777;
	}


.popover-content {
	padding: 5px 5px;
	.btn.btn-danger {
		background-color: #f80018;
		border-color: #f80018;
		padding: 4px 21px;
		&:hover {
			background-color: #c9302c;
    		border-color: #ac2925;
		}
	}
}

.s-popover {
	border: 1px solid #b3b3b3;
	padding: 10px 10px;
	position: relative;
	&__close {
		position: absolute;
		top: 3px;
    	right: 7px;
	}
}
	.s-popup__head {

		&-icon {
			display: inline-block;
			width: 15px;
			vertical-align: middle;
			line-height: 1;

			&-user {
				@extend .s-popup__head-icon;
				width: 20px;
				margin-left: 10px;
				margin-right: 5px;

				img {
					width: 20px;
				}
			}
		}
		&-title {
			display: inline-block;
			text-align: center;
			vertical-align: middle;
		}
	}
	.s-popup__content {
		height: 20px;
	}
	.s-popup__menu-item {
		text-align: center;
		border-bottom: 1px solid #ccc;
		padding: 5px 10px;

		&:last-child {
			border-bottom: 0;
		}

		a, a:hover, a:visited {
			text-decoration: none;
			color: #333;

			&[data-btn-active="false"] {
				opacity: .3;
				cursor: default;
			}
		}


		&-icon {
			display: inline-block;
		}
		&-title {
			display: inline-block;
			width: 150px;
			text-align: center;
			cursor: pointer;
		}
	}


.s-popup-view-record {
	.s-popup__head {
		margin-bottom: 10px;
		color: #002248;
	}
	.s-popup__head-icon {
		width: auto;
		font-size: 20px;
		color: #666;
		margin-right: 10px;
	}

	&__item {
		color: #002248;
		label {
			width: 90px;
		}
	}
}

.s-popup-confirm-cancel {
	text-align: center;

	.s-popup__head {
		font-weight: bold;;
		font-size: 16px;
		margin: 0 0 15px;

		.s-popup__head-icon {
			width: 25px;
			margin-right: 10px;
			vertical-align: middle;
		}
		.s-popup__head-title {
			vertical-align: middle;
		}
	}

	.s-popup__body {
		width: 240px;

		&-text {
			font-size: 13px;
			color: #337ab7;
			margin-bottom: 20px;
		}
	}
}



.b-schedule__item {
	background-color: #d4e0e2;
}
.b-schedule__item-head {
	position: relative;
}
.b-schedule__item-head-cnt {
	position: absolute;
	width: 100%;
}