@charset "UTF-8";

.p-left {
	background-color: $base-background;
	min-height: 100%; /* TODO */
	padding: 0;
	z-index: 10;
	@include box-shadow(0px 0px 20px 0px rgba(10,10,10,.5));

	width: 281px;
}


.b-spec__list {
	margin-top: 30px;
	max-height: 390px;
	background-color: #fff;
	border: 1px solid rgb(200,200,200);
	overflow: hidden;
	position: relative;

	.ps-scrollbar-x-rail {
		display: none!important;
	}
}
.b-spec__list-item {
	padding: 10px 15px;
	padding-left: 30px;
	border-bottom: 1px solid rgba(220,220,220,.7);
	display: block;
	margin-bottom: 0;
	font-weight: normal;
	position: relative;

	input {
		position: absolute;
		top: 50%;
		left: 12px;
		margin-top: -6px;
	}
}

.b-patient__search {
	position: relative;

	&-result {
		position: absolute;
		top: 48px;
		left: 0;
		min-width: 100%;
		min-height: 30px;
		background-color: #fff;
		border: 1px solid #c8c8c8;
		z-index: 100;
		padding: 5px;
		box-shadow: 1px 1px 1px rgba(200,200,200,.9);

		&-item {
			padding: 3px 0;
			cursor: pointer;
			background-color: #fff;

			&:hover {
				background-color: #efefef;
			}
		}

		&-placeholder {
			position: absolute;
			top: 0;
			left: 0;
			color: #888;
			z-index: -1;
			padding: 6px;
		}
	}
}

.b-patient__user {
	font-weight: bold;
	color: #1A6471;
}


.b-date__select {
	background: #fff;

	button {
		background: #fff;
		border: 2px solid #fff;
		border-radius: 0;
		box-shadow: none;

		&.btn-sm, &.btn {
			line-height: 1.2;
    		padding: 10px 10px 9px;
		}

		&.active, &:active, &:focus, &.active:focus, &:active:focus, &.active:hover, &:active:hover, &:focus:hover {
			background-color: inherit;
			border-color: #348396;
			outline: none;
		}

		&:hover {
			border: 2px solid #348396;
			border-radius: 3px;
			background-color: #348396;
			color: #fff;

			.text-info, .text-muted {
				color: #fff;
			}
		}

		&.btn-info, &.active.btn-info, &.active.btn-info:hover, &:active, &:focus {
			color: #333;
			border: 2px solid #408f9c;
			border-radius: 50%;
		}
		&.btn.active, &.btn:active {
			box-shadow: none;
		}
	}

	&-work {
		background: #b3e3ef;

		button {
			background: #b3e3ef;
			border: 2px solid #b3e3ef;
			color: #333;
			.text-muted, &.active:hover .text-muted {
				color: #333;
			}
			&.btn-info, &.active.btn-info, &:active:hover, &.active.btn-info:hover {
				outline: none;
				color: #333;
				background-color: #b3e3ef;
				border: 2px solid #408f9c;
				border-radius: 50%;
			}
			&:active, &:focus, &:active:focus {
				outline: none;
				background-color: #b3e3ef;
			}
			&:hover .text-info, &:focus:hover span {
				color: #333;
			}
		}
	}

	&.disabled {
		background: #d4d4d4;

		button, button:hover {
			background: #d4d4d4;
			border: 2px solid #d4d4d4;
			span {
				color: #333;
			}
		}
	}

	&.disabled-day-off {
		background: #fff;

		button, button:hover {
			background: #fff;
			border: 2px solid #fff;
			span {
				color: #333;
			}
		}
	}

	&.before-today {
		background: #e0e0e0;
		button, button:hover {
			background: #e0e0e0;
			border-color: #e0e0e0;
			span {
				color: #adadad;
			}
		}
	}
	&.after-two-week {
		background: #eeeeee;
		button {
			background: #eeeeee;
			border-color: #eeeeee;
			outline: none;
			&:hover {
				border-color: #348396;
				background-color: #348396;
				color: #fff;
				span {
					color: #fff;
				}
			}
			&:focus:hover, &.active:hover, &.active:focus, &.active:active {
				outline: none;
				background: #eee;
				span {
					color: #999;
				}
			}
			span {
				color: #999;
			}
			&[disabled="disabled"]:hover {
				background: #eeeeee;
				border-color: #eeeeee;
				span {
					color: #999;
				}
			}
		}
	}
}
.dropdown-menu table thead th:not([colspan="5"]) button {
	border: 1px solid #fff;
}
.dropdown-menu table thead th:not([colspan="5"]) small {
	font-size: 14px;
    text-transform: capitalize;
}
.dropdown-menu table thead tr:nth-child(2) th {
	padding: 5px;
}
.dropdown-menu table {
	outline: none;
}
.btn-dpicker {
	margin: 0 3px;
}