@charset "UTF-8";

.p-left {
	background-color: $base-background;
	min-height: 100%; /* TODO */
	padding: 0;
	z-index: 10;
	@include box-shadow(0px 0px 20px 0px rgba(10,10,10,.5));

	width: 281px;
}


.b-spec__list {
	margin-top: 30px;
	max-height: 390px;
	background-color: #fff;
	border: 1px solid rgb(200,200,200);
	overflow: hidden;
	position: relative;

	.ps-scrollbar-x-rail {
		display: none!important;
	}
}
.b-spec__list-item {
	padding: 10px 15px;
	padding-left: 30px;
	border-bottom: 1px solid rgba(220,220,220,.7);
	display: block;
	margin-bottom: 0;
	font-weight: normal;
	position: relative;

	input {
		position: absolute;
		top: 50%;
		left: 12px;
		margin-top: -6px;
	}
}

.b-patient__search {
	position: relative;

	&-result {
		position: absolute;
		top: 48px;
		left: 0;
		min-width: 100%;
		min-height: 30px;
		background-color: #fff;
		border: 1px solid #c8c8c8;
		z-index: 100;
		padding: 5px;
		box-shadow: 1px 1px 1px rgba(200,200,200,.9);

		&-item {
			padding: 3px 0;
			cursor: pointer;
			background-color: #fff;

			&:hover {
				background-color: #efefef;
			}
		}

		&-placeholder {
			position: absolute;
			top: 0;
			left: 0;
			color: #888;
			z-index: -1;
			padding: 6px;
		}
	}
}

.b-patient__user {
	font-weight: bold;
	color: #1A6471;
}


.b-date__select {
	background: #fff;

	button {
		background: #fff;
		border: 2px solid #fff;
		border-radius: 0;
		box-shadow: none;

		&.btn-sm, &.btn {
			line-height: 1.8;
		}

		&.active, &.active:focus {
			color: #333;
			background-color: #fff;
			border: 2px solid #fff;
			border-radius: 50%;

		}

		&:hover, &.active:hover,
		&.btn-default[disabled]:hover {
			border: 2px solid #348396;
			border-radius: 3px;
			background-color: #348396;
			color: #fff;

			.text-info {
				color: #fff
			}
		}
	}

	&-work {
		background: #b3e3ef;

		button {
			background: #b3e3ef;
			border: 2px solid #b3e3ef;
			&.btn-info, &.active.btn-info, &.active.btn-info:hover {
				color: #333;
				background-color: #b3e3ef;
				border: 2px solid #408f9c;
				border-radius: 50%;
			}

			&.btn-info:hover, &.btn-info.active:hover,
			&.btn-default[disabled]:hover {
				border: 2px solid #348396;
				border-radius: 3px;
				background-color: #348396;
				color: #fff;

				.text-info {
					color: #fff
				}
			}
		}
	}

	&.disabled {
		background: #d4d4d4;

		button {
			background: #d4d4d4;
			border: 2px solid #d4d4d4;
		}
	}

	&.disabled-day-off {
		background: #fff;

		button {
			background: #fff;
			border: 2px solid #fff;
		}
	}
}
.dropdown-menu table thead th:not([colspan="5"]) button {
	border: 1px solid #fff;
}
.dropdown-menu table thead th:not([colspan="5"]) small {
	font-size: 14px;
    text-transform: capitalize;
}
.dropdown-menu table thead tr:nth-child(2) th {
	padding: 5px;
}
.dropdown-menu table {
	outline: none;
}
.btn-dpicker {
	margin: 0 3px;
}