@charset "UTF-8";

.p-left {
	background-color: $base-background;
	min-height: 100%; /* TODO */
	padding: 0;
	z-index: 10;
	@include box-shadow(0px 0px 20px 0px rgba(10,10,10,.5));

	width: calc( 250px );
}


.b-spec__list {
	margin-top: 30px;
	height: 200px;
	background-color: #fff;
	border: 1px solid rgb(200,200,200);
	overflow: hidden;
	position: relative;
}
.b-spec__list-item {
	padding: 10px 15px;
	border-bottom: 1px solid rgba(220,220,220,.7);
	display: block;
	margin-bottom: 0;

	input {
		vertical-align: middle;
		margin-top: -2px;
	}

	label {
		font-weight: normal;
	}
}

.b-patient__search {
	position: relative;

	&-result {
		position: absolute;
		top: 48px;
		left: 0;
		min-width: 100%;
		min-height: 30px;
		background-color: #fff;
		border: 1px solid #c8c8c8;
		z-index: 100;
		padding: 5px;
		box-shadow: 1px 1px 1px rgba(200,200,200,.9);

		&-item {
			padding: 3px 0;
			cursor: pointer;
			background-color: #fff;

			&:hover {
				background-color: #efefef;
			}
		}

		&-placeholder {
			position: absolute;
			top: 0;
			left: 0;
			color: #888;
			z-index: -1;
			padding: 6px;
		}
	}
}

.b-patient__user {
	font-weight: bold;
	color: #1A6471;
}

.btn-dpicker {
	margin: 0 3px;
}